exportPattern("^[[:alpha:]]+")
exportMethods(
    "fitGPLVM",
    "fitLMM",
    "getCorrectedExpression",
    "getK",
    "getKi",
    "getVarianceComponents",
    "getX",
    "initialize",
    "optimize",
    "setCorrectedExpression",
    "setVarianceComponents",
    "varianceDecomposition" 
)
exportClasses(
    "gpCLVM",
     "scLVM" 
)

import(genefilter)
import(statmod)
import(AnnotationDbi)
